

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
    padding-left: 0;
}

/* Login */

.Login {
  margin: 0;
  position: absolute;
  width: 50vh;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Login-header{
  color: white;
  font-weight: 600;
  font-size: 5vh;
  letter-spacing: 0.5vh;
}

.Login-input-div {
  margin: 2vh;
}

.Login-input-textfield {
  width: 40vh;
}

.Login-button-div {
  cursor: pointer;
  margin: 2vh;
}

.Login-button-div:hover {
  transform: scale(1.1);
}

.Login-p{
  color: white;
}

.Errors-p {
  color: red;
}

/* Sign up */

.Sign-up-div {
  margin: 0 auto;
  width: 50vh;
}

.Sign-up-input-div {
  margin: 2vh;
}

.Sign-up-input {
  width: 40vh;
}

.Sign-up-upload-button-div {
  margin: 2vh;
}

.Sign-up-input-button {
  width: 40vh;
}


.Errors {
  list-style: none;
  color: red;
}

/* Header */

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  min-height: 8vh;
  max-height: 8vh;
}

.Header-logo {
  border: none;
  border-radius: 100px;
  height: 6vh;
  object-fit: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Header-logo:hover {
  transform: scale(1.1);
}

.Header-icon {
  padding: 10px;
  border: none;
  border-radius: 50px;
  height: 6vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Swipe page */

.Board {
  display: flex;
  justify-content: center;
  position:relative;
  min-height: 550px;
  min-width: 500px;
}

.Stack {
position: absolute;
top: 3vh;
}

.Card {  
min-width: 300px;
min-height: 500px;
max-width: 350px;
max-height: 500px;
border: none;
border-radius: 10px;
background-color: #f9f9f9;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
overflow: none;
position: relative;
}

.Card-img {
  border: none;
  border-radius: 10px;
  object-fit: cover;
}

.Card-name-age {
  position: absolute;
  bottom: 0;
  left: 2vh;
  color: white;
  font-size: 3vh;
}

.Card-button {
  background: transparent;
  border: none !important;
  font-size:0;
  width: 42vh;
  height: 100px;
  position:relative;
  bottom: 13vh;
  cursor: pointer;
  z-index: 100;
}

.Submit-box {
  display: flex;
}

.Submit-button-container {
  position: relative;
  z-index: -10;
  display: inline-block;
}

.Left-button {
  display: inline-block;
  background-color: white;
  border: none;
  cursor: pointer;
  margin-right: 2vh;
}

.Right-button {
  display: inline-block;
  background-color: white;
  border: none;
  cursor: pointer;
  margin-left: 2vh;
}

/* Swipe page */

.Match-bar {
  display: inline-block;
  padding: 30px;
  border-bottom: 3px solid #dddddd;
}

.Match-div {
  display: flex;
}

.Match-button {
  height: 16vh;
  width: 16vh;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  box-sizing: border-box;
  cursor:pointer;
  margin: 20px;
}

.Matches {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  border: 3px solid #dddddd;
  border-radius: 50%;
  cursor:pointer;
}


.Account-page-wrapper{
  position: relative;
  top: 6vh;
  height: 82vh;
  width: 50vh;
  box-shadow: 0 4px 8px 0 rgba(223, 221, 221, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Account-page-container {
  display: flex;
  justify-content: center;
}

.Account-page-desc {
  text-align: left;
  overflow: scroll;
  height: 15vh;
  border: 1px solid rgb(150, 150, 150);
}

.Account-page-img {
  position: relative;
  top: 1vh;
  border: none;
  border-radius: 50%;
  min-width:25vh;
  max-width: 25vh;
  min-height: 25vh;
  max-height: 25vh;
  margin: auto;
}

.Account-page-buttons {
  margin-top: 2vh;
  position: relative;
}

.Account-address-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
  /* background-color: rgb(245, 243, 243); */
}

.Account-buttons {
  padding: 5px;
  border: none;
  border-radius: 50px;
  height: 6vh;
  background: linear-gradient(-45deg,
  #FD297B, #FF5864, #FF655B
  );
}

.Modal-container {
  transition-timing-function: ease-in-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  display: flex;
  justify-content: center;
}

.Modal {
  position: absolute;
  top: 0.1vh;
  z-index:10;
  border: none;
  overflow: auto;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  background-color: white;
  height: 90vh;
  width: 55vh;
}

.Modal-img {
  border: none;
  overflow: auto;
  margin: auto;
  width: 50vh; 
  height: 65vh
}


.Modal-name-age {
  position: relative;
  left: 2vh;
  font-size: 3vh;
}

.Modal-desc {
  margin-top: 2vh;
  margin: 0 auto;
  font-style: normal;
  display: flex;
  justify-content: center;
  min-width: 50vh;
  max-width: 50vh;
  border: solid;
  border-width: thin;
  border-color: lightgray;
}

.Modal-submit-container {
  min-width: 2vh;
  max-width: 2vh;
  min-height: 4vh;
  max-height: 4vh;
}

.Modal-submit-button {
  position: absolute;
  z-index: 100;
  left: 53vh;
  top:1vh;
  background: white;
  border: none;
  border-radius: 1000vh;
}

.Loading-container {
  display: inline;
  justify-content: center;
  position: relative;
  top: 30vh;
}


.Its-a-match-container {
  margin: 0 auto;
  height: 40vh;
  width: 80vh;
  position: relative;
  z-index: 10;
}

.Its-a-match-h2 {
  font-size: 5vh;
  font-style: italic;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: -webkit-linear-gradient(rgb(0, 255, 157), rgb(0, 255, 242));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1vh;
  color: transparent;
  position: relative;
  top: 15vh;
  z-index: 10;
  }

.Its-a-match-h1 {
  font-size: 17vh;
  font-style: italic;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: -webkit-linear-gradient(rgb(0, 255, 157), rgb(0, 255, 242));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1vh;
  color: transparent;
  position: relative;
  z-index: 10;
  }


  
  .Liked-swipe {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:linear-gradient(100deg, transparent, rgb(77, 218, 131, 0.5)) ;
  }
  
  .Disliked-swipe {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:linear-gradient(-100deg, transparent, rgba(243, 82, 82, 0.5)) ;
  }
  
  .Like-swipe-div {
    display: flex;
    justify-content: center;
    transform: rotate(-20deg);
  }
  
  .Like-swipe-text {
    color: rgb(77, 218, 131);
    font-size: 7vh;
    border: solid;
    position: absolute;
    bottom: 20vh;
    border-color: rgb(77, 218, 131);
  }
  
  .Dislike-swipe-div {
    display: flex;
    justify-content: center;
    transform: rotate(-20deg);
  }
  
  .Dislike-swipe-text {
    color: rgb(218, 8, 8);
    font-size: 7vh;
    border: solid;
    position: absolute;
    bottom: 20vh;
    border-color: rgb(218, 8, 8);
  }

/* Message Page */

.Message-item {
  margin: 5px;
}

.Message-board-container {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  margin: 0 auto;
  flex-direction: column;
  width: 90%;

}

.Message-div {
  display: flex;
  justify-content: space-between;
  border: none ;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2vh;
  text-decoration: none;
}

.Message-div:hover {
  transform: scale(1.1);
}

.Match-list-item{
  list-style: none;
  padding-left: 0;
}

.Message-wrapper {
  display: flex;
  flex-flow: row wrap;
  margin-left: 1vh;
  width: 100%;
}

.Message-button {
  height: 12vh;
  width: 12vh;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-right: 2vh;
}

.Message-name {
  position: relative;
  display: inline-block;
  top: 3vh;
  font-size: 3vh;
}

.No-matches-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.No-matches-div{
position: absolute;
top: 25vh;
}

.No-matches-button {
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 30px;
  background: linear-gradient(-45deg,
  #FD297B, #FF5864, #FF655B
  );
  box-shadow: 0 4px 8px 0 rgba(223, 221, 221, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.No-matches-button:hover {
  transform: scale(1.1);
}

/* Chat page */

.Chat-banner-wrapper {
  
}

.Chat-banner {
  position: relative;
  z-index: 10;
  box-shadow: 0 8px 8px -8px rgb(169, 169, 169);
  padding-bottom: 1vh;
}

.Chat-box {
  background-color:#ffffff;
  width: 95vh;
  height: 70vh;
  overflow: scroll;
}

.Chat-img {
  width: 10vh; /* width of container */
  height: 10vh; /* height of container */
  object-fit: cover;
  object-position: 20% 10%; /* try 20px 10px */ 
  border: none;
  border-radius: 50%;
}

.Chat-box-wrapper {
  display: flex;
  justify-content: center;
}

.Chat-area-wrapper {
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 25%;
  margin: 1vh;
}

.Chat-area {
  width: 72vh;
  max-height: 8vh;
  border: solid;
  border-color: rgb(179, 177, 177);
  border-width: thin;
  border-radius: 1vh;
  overflow: scroll;
  margin-left: 1vh;
  margin-right: 1vh;
}

.Chat-send {
  background: none;
  border: solid thin rgb(181, 181, 181);
  border-radius: 1vh; 
}

.Message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2vh;
  margin-right: 2vh;
}

.Message-top{
    display: flex;
}

.Message-text{
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 35vh;
}

.Message-bottom{
    font-size: 12px;
    margin-top: 10px;
}

.Message-alt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2vh;
  margin-left: 2vh;
}

.Message-text-alt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Message-top-alt {
    display: flex;
}

.Message-text-alt {
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(245, 241, 241);
  color: black;
  max-width: 35vh;
}

.Message-bottom-alt {
  display: flex;
  align-items: flex-start;
  font-size: 12px;
  margin-top: 10px;
}

/* Settings */

.Settings-page-wrapper{
  position: relative;
  top: 6vh;
  height: 75vh;
  width: 50vh;
  padding-bottom: 5vh;
}

.Settings-div {
  position: relative;
  top: 3.5vh;
}


.Submit-box {
  display: flex;
  justify-content: center;
}

.Settings-title {
  position: relative;
  top: 2.5vh;
}

.Submit-button {
  background: none;
  border: none;
}

.Settings-container{
margin-top: 2vh;
margin-bottom: 2vh;
}

.Settings-input {
  width: 45vh;
}

.Settings-label {
position: relative;
right: 17.5vh;
margin-bottom:1vh ;
font-size: small;
}

.Settings-textarea {
  width: 45vh;
  height: 45vh;
  overflow: scroll;
} 

.Settings-sub-box {
  position: relative;
  display: inline-block;
  bottom: 20vh;
}

.Settings-left-button {
  display: inline-block;
  border: none;
}

.Settings-right-button {
  display: inline-block;
  border: none;
}

.Settings-button {
  padding: 10px;
  border: none;
  border-radius: 50px;
  height: 6vh;
  background: linear-gradient(-45deg,
  #FD297B, #FF5864, #FF655B
  );
}
 
@media only screen and (max-width: 600px) {

  .Account-page-wrapper {
    position: relative;
    top: 6vh;
    height: 85vh;
    width: 50vh;
    padding-bottom: 5vh;
  }
  
  .Account-page-container {
    display: flex;
    justify-content: center;
    min-width: 50vh;
    min-height: 50vh;
  }

  .Account-page-desc {
    text-align: left;
    overflow: scroll;
    height: 18vh;
  }
}

