body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
    padding-left: 0;
}

/* Login */

.Login-input {
  width: 50%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 15px;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Login-button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Login-button:hover {
  transform: scale(1.1);
}

/* Sign up */

.Sign-up-input {
  width: 50%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 15px;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Sign-up-text {
  max-width: 50%;
  min-width: 50%;
  min-height: 180px;
  max-height: 180px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 15px;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Sign-up-select {
  max-width: 53%;
  min-width: 53%;
  min-height: 50px;
  max-height: 50px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 15px;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Errors {
  list-style: none;
  color: red;
}

/* Header */

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  min-height: 8vh;
  max-height: 8vh;
}

.Header-logo {
  border: none;
  border-radius: 100px;
  height: 6vh;
  object-fit: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Header-logo:hover {
  transform: scale(1.1);
}

.Header-icon {
  padding: 10px;
  border: none;
  border-radius: 50px;
  height: 6vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

/* Swipe page */

.Board {
  display: flex;
  justify-content: center;
  position:relative;
  min-height: 550px;
  min-width: 500px;
}

.Stack {
position: absolute;
top: 3vh;
}

.Card {  
min-width: 300px;
min-height: 500px;
max-width: 350px;
max-height: 500px;
border: none;
border-radius: 10px;
background-color: #f9f9f9;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
overflow: none;
position: relative;
}

.Card-img {
  border: none;
  border-radius: 10px;
}

.Card-name-age {
  position: absolute;
  bottom: 0;
  left: 2vh;
  color: white;
  font-size: 3vh;
}

.Card-button {
  background: transparent;
  border: none !important;
  font-size:0;
  width: 42vh;
  height: 100px;
  position:relative;
  bottom: 13vh;
  cursor: pointer;
  z-index: 10;
}

.Submit-box {
  display: flex;
  justify-content: center;
}

.Submit-button-container {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 10vh;
  bottom: 0vh;
  top: 85vh;
	left: 0;
	right: 0;
  z-index: -1;
  background: none;	
	margin: auto;
}

.Submit-button {
  display: inline-block;
  background-color: white;
  border: none;
}

/* Swipe page */

.Match-bar {
  display: inline-block;
  padding: 30px;
  border-bottom: 3px solid #dddddd;
}

.Match-div {
  display: flex;
}

.Match-button {
  height: 16vh;
  width: 16vh;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  box-sizing: border-box;
  cursor:pointer;
  margin: 20px;
}

.Matches {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  border: 3px solid #dddddd;
  border-radius: 50%;
  cursor:pointer;
}

.Upload {
  margin: 50px;
}


.Account-page-wrapper{
  position: relative;
  top: 5vh;
}

.Account-page-container {
  display: flex;
  justify-content: center;
}

.Account-page-desc {
  min-width: 400px;
  max-width: 400px;
  min-height: 100px;
  max-height: 100px;
  resize: none;
}

.Account-page-img {
  border: none;
  border-radius: 50%;
  min-width:25vh;
  max-width: 25vh;
  min-height: 25vh;
  max-height: 25vh;
  margin: auto;
}

.Account-page-buttons {
  position: relative;
  top: 13vh;
}

.Background {
  transition-timing-function: ease-in-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
  display: flex;
  justify-content: center;
}

.Modal-container {
  transition-timing-function: ease-in-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  display: flex;
  justify-content: center;
}

.Modal {
  position: absolute;
  top: 0.1vh;
  z-index:10;
  border: none;
  overflow: auto;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  background-color: white;
  height: 80vh;
  width: 55vh;
}

.Modal-img {
  border: none;
  overflow: auto;
  margin: auto;
  width: 50vh; 
  height: 65vh
}


.Modal-name-age {
  position: absolute;
  font-size: 3vh;
  color: white;
  bottom: 17vh;
  left: 6vh;
}

.Modal-desc {
  margin-top: 2vh;
  min-width: 49vh;
  max-width: 49vh;
  min-height: 10vh;
  max-height: 10vh;
  
  /* border: none; */
  font-style: normal;
  resize: none;
}

.Modal-submit-container {
  min-width: 2vh;
  max-width: 2vh;
  min-height: 4vh;
  max-height: 4vh;
}

.Modal-submit-button {
  position: absolute;
  z-index: 100;
  left: 53vh;
  top:1vh;
  background: white;
  border: none;
  border-radius: 1000vh;
}

.Loading-container {
  display: inline;
  justify-content: center;
  position: absolute;
  top: 30vh;
}

.Its-a-match {
  font-size: large;
  position: absolute;
  z-index: 10;
  }
  
  .Liked-swipe {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:linear-gradient(100deg, transparent, rgb(77, 218, 131, 0.5)) ;
  }
  
  .Disliked-swipe {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:linear-gradient(-100deg, transparent, rgba(243, 82, 82, 0.5)) ;
  }
  
  .Like-swipe-div {
    display: flex;
    justify-content: center;
    transform: rotate(-20deg);
  }
  
  .Like-swipe-text {
    color: rgb(77, 218, 131);
    font-size: 7vh;
    border: solid;
    position: absolute;
    bottom: 20vh;
    border-color: rgb(77, 218, 131);
  }
  
  .Dislike-swipe-div {
    display: flex;
    justify-content: center;
    transform: rotate(-20deg);
  }
  
  .Dislike-swipe-text {
    color: rgb(218, 8, 8);
    font-size: 7vh;
    border: solid;
    position: absolute;
    bottom: 20vh;
    border-color: rgb(218, 8, 8);
  }

/* Message Page */

.Message-board-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.Message-div {
  border: none ;
  border-radius: 10px;
  margin: 40px;
  padding: 20px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
}

.Message-div:hover {
  transform: scale(1.1);
}

.Match-list-item{
  list-style: none;
  padding-left: 0;
}

.Message-button {
  height: 16vh;
  width: 16vh;
  border-radius: 50%;
  border: none;
  cursor:pointer;
}

.Message-name {
  font-size: 3vh;
}

.Message-unmatch-button {
  background-color: white;
  border: none;
}

.No-matches-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.No-matches-div{
position: absolute;
top: 25vh;
}

.No-matches-button {
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 30px;
  background: linear-gradient(-45deg,
  #FD297B, #FF5864, #FF655B
  );
  box-shadow: 0 4px 8px 0 rgba(223, 221, 221, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.No-matches-button:hover {
  transform: scale(1.1);
}

/* Chat page */

.Chat-banner {
  border-bottom: 0.25vh solid #dddddd;
}

.Chat-box-wrapper {
  display: flex;
  justify-content: center;
}

.Chat-box {
  background-color:#f8f8f8 ;
  width: 100vh;
  height: 50vh;
  overflow: scroll;
}

.Chat-img {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  box-sizing: border-box;
  margin: auto;
}

 .Chat-unmatch-button {
  background-color: white;
  border: none;
}

.Chat-area-wrapper {
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 25%; 
}

.Chat-area {
  max-width: 65vh;
  min-width: 65vh;
  max-height: 10vh;
  min-height: 10vh;
}

.Chat-send {
  background: none;
  border: none;
}



